syntax: glob
*.ncb
*.suo
*.bak
*~
*/\#*\#
*.orig
*.rej
*.aps
*.d
*.ko
*.o
*.pyc
*.old
*.user
*.mod.c
.*.cmd
.tmp_versions
.reviewboardrc
BuildLog.htm
build.log
builder.log.*
cscope.*
Module.*
modules.*
tags
TAGS
GPATH
GRTAGS
GTAGS

# Domain-specific files

zetaferno-ts/package.dox
zetaferno-ts/doxygen.warn
zetaferno-ts/doc/html
zetaferno-ts/doc/doxygen_sqlite3.db
build/
html/
Makefile.in
aclocal.m4
autom4te.cache
auxdir
configure
zetaferno-ts/package.h.in
talib_zetaferno_ts/config.h.in
talib_zetaferno_ts/zf
talib_zetaferno_ts/etherfabric
talib_zetaferno_ts/copied_headers
tmp_raw_log
log.txt
log_plain.xml
log_struct.xml
ta.Agt_*
ta.LogListener
ta.list
ta_cores.*
